.container{
    display: flex;
    width: 650px;
    height: 250px;
    justify-content: space-around;
    background-color: #f2f4f5;
}
.dec{
    display: flex;
    flex-direction: column;     /* іконки стовпецем */
    justify-content: space-around; /* іконки по центру осі */
    height: 250px;
}

.line{
    height: 221px;
    border-right: 1px solid black;
    margin-top: 14px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 228px;
}
h2{
    margin-bottom: -5px;
    margin-top: 10px;
}
p{
    width: 520px;
    font-size: 14px;
}